github-uri: https://github.com/rjain-pivotal/pcf-test-harness.git
github-branch: master
git-repo-private-key:
cf-api:
cf-username:
cf-password:
cf-org:
cf-space:
cf-app-suffix:
cf-app-domain:
cf-test-url-endpoint:test
